<app-main-nav>

  <button mat-fab color="primary"
  matTooltipPosition="before"
  matTooltip="Add Product"
  style="position: absolute; right: 0; bottom: 10px; margin: 10px; outline: none;"
  (click)="openProductDialog()"
  *ngIf="authService.isAdmin()"><mat-icon>add</mat-icon>
</button>

<p *ngIf="products.length === 0"  style="position: absolute; top: 50%; left: 40%;">No Product Available</p>
  <div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 30px;">
      <app-product-card [product] = "product" (removeProductFromList)="removeProductFromList($event)" (updateProductFromList)="updateProduct($event)" ></app-product-card>
    </div>
    <mat-progress-spinner style="width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;"
    mode="indeterminate"
    *ngIf="loading"
    diameter="30">
    </mat-progress-spinner >
  </div>
</app-main-nav>
