<app-main-nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>

    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information:</strong> You have made some changes. Any unsaved changes will be lost!!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{photoUrl || '../../../../../assets/img/user.png" alt=""
          class="card-img-top img-thumbnail">

        <div class="card-footer">
          <button class="btn btn-success btn-block" type="submit" (click)="updatedUser()"  [disabled]="(!editForm.dirty && !passwordForm.dirty) || (!editForm.valid || !passwordForm.valid) ">
            Save Changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <mat-tab-group>
        <mat-tab label="Edit Profile">
          <div style="margin-top: 30px;">
            <form [formGroup]="editForm" id="editForm">
              <h4>First Name:</h4>
              <mat-form-field style="width: 100%;">
                <input matInput
                name="firstName"
                formControlName="firstName">
                <mat-error *ngIf="editForm.get('firstName').hasError('required')">
                  First Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <h4>Last Name:</h4>
              <mat-form-field style="width: 100%;">
                <input matInput
                name="lastName"
                formControlName="lastName">
                <mat-error *ngIf="editForm.get('lastName').hasError('required')">
                  Last Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <h4>Phone Number</h4>
              <mat-form-field style="width: 100%;">
                <input matInput
                name="phoneNumber"
                formControlName="phoneNumber">
              </mat-form-field>

              <h4>Gender:</h4>
              <mat-radio-group color="primary" formControlName="gender">
                <mat-radio-button style="margin-right: 20px;" value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
              </mat-radio-group>
            </form>
          </div>
          </mat-tab>
            <mat-tab label="Change Password">
              <div style="margin-top: 30px;">
                <form [formGroup]="passwordForm">
               <h4>New Password:</h4>
              <mat-form-field style="width: 100%;">
                <input matInput
                type="password"
                name="newPassword"
                formControlName="newPassword">
              </mat-form-field>
              <h4>Confirm Password:</h4>
              <mat-form-field style="width: 100%;">
                <input matInput
                type="password"
                name="confirmPassword"
                formControlName="confirmPassword"
                [errorStateMatcher] = "matcher">
                <mat-error *ngIf="passwordForm?.hasError('mismatch')">
                  Password must match
                </mat-error>
              </mat-form-field>
            </form>
            </div>
            </mat-tab>
          </mat-tab-group>
      </div>
    </div>
  </div>
</app-main-nav>
