.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-position: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.example-spacer {
  flex: .9 0 auto;
}

.menuImg {
  max-height: 75px;
  border: 2px solid white;
  display: inline;
}

/* .mat-nav-list a.active {
  background-color: #3700B3;
  color: white;
} */
