  <app-main-nav>
  <div class="row">
    <div class="col-lg-6 col-md-6  col-sm-6">
      <app-top-paid-users-chart></app-top-paid-users-chart>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <app-top-requested-products-chart></app-top-requested-products-chart>
    </div>
    <!-- <div class="col-sm">
      One of three columns
    </div> -->
  </div>
  <hr>
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-12 col-md-6 col-sm-6" style="padding: 0px 100px 100px 100px">
      <app-users-list></app-users-list>
    </div>
  </div>
</app-main-nav>
